# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
.vs/*
SET09102/.vs/*
SET09102/.vs
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

**/obj/
**/bin/

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode
SET09102/SET09102/SET09102.csproj.user
.DS_Store
/SET09102/.DS_Store